* {
  font-family: Arial;
  color: gray;
}

.container, .container-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-input-results, .container-data {
  display: flex;
}

.container-input {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.label {
  margin: 0 15px;
}

.input {
  border-bottom: 2.3px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 400px;
  margin: 20px 15px;
}

.input.data {
  width: 500px;
}

@media (max-width: 1300px) {

.container-input-results, .container-data {
flex-direction: column;
align-items: center;
justify-content: center;
}

}

@media (max-width: 700px) {

.input.data {
max-width: 400px;
}

.input {
max-width: 300px;
}

}

@media (max-width: 500px) {

.input.data {
max-width: 300px;
}

.input {
max-width: 200px;
}

}

@media (max-width: 350px) {

.input.data {
max-width: 200px;
}

.input {
max-width: 200px;
}

}
